In [34]:
import pandas as pd

# Set options to show all columns
pd.set_option('display.max_columns', None)

data = r'C:\Users\izama\Desktop\immo_scraper_merged_test.csv'
data_scraped = pd.read_csv(data, sep = ',')

# Edit text in the columns
text_edit_columns = ['Subtype', 'Type_of_sale', 'Kitchen_type', 'State_of_building' ]

for column in text_edit_columns:
    data_scraped[column] = data_scraped[column].astype(str)  # Ensure the column is treated as string
    data_scraped[column] = data_scraped[column].str.replace('_', ' ').str.capitalize()

# Remove zip code from brackets, e.g. "Tielt (8700)" -> "Tielt"
data_scraped['locality_name'] = data_scraped['locality_name'].str.replace(r"\s*\(\d+\)", "", regex=True)

#Edit text of cities and street names
names_edit_columns = ['locality_name', 'street']

for column in names_edit_columns:
    data_scraped[column] = data_scraped[column].astype(str)  # Ensure the column is treated as string
    data_scraped[column] = data_scraped[column].str.title()

# Edit the number of facades
number_edit_columns = ['Number_of_bedrooms', 'Living_area', 'Number_of_facades', 'Price']

for column in number_edit_columns:
    data_scraped[column] = pd.to_numeric(data_scraped[column], errors='coerce').fillna(0).astype('Int64')

# Replace 'True', 'False' and empty cells value on binary values
columns_for_change_01 = ['Open_fire', 'Swimming_Pool', 'Furnished'] #Columns for change
data_scraped[columns_for_change_01] = data_scraped[columns_for_change_01].replace({False:0, True:1}).fillna(0).astype('Int64')

# Add m² for area columns 
columns_for_change_m2 = ['Living_area', 'terraceSurface', 'gardenSurface'] #Columns for change

for col in columns_for_change_m2:
    data_scraped[col] = pd.to_numeric(data_scraped[col], errors='coerce').fillna(0).astype('Int64') #Change string value to an integer

for col in columns_for_change_m2:
    data_scraped[col] = data_scraped[col].apply(lambda x: f"{x} m²" if pd.notna(x) and x != 0 else x) #Add m² to the area values

# Replace "0" and "Nan" on "Null"

columns_for_change_null = ['hasTerrace', 'terraceSurface', 'hasGarden', 'gardenSurface', 'epc', 'Kitchen_type', 'State_of_building']
data_scraped[columns_for_change_null] = data_scraped[columns_for_change_null].replace({0: 'null', 'Nan': 'null'})
data_scraped[columns_for_change_null] = data_scraped[columns_for_change_null].fillna('null')

# Remove lines where 'Starting_price' is True
data_scraped = data_scraped[data_scraped['Starting_price'] != True]

# Cleaning data from unnecessary subtypes
values_to_remove = ['House group','Mixed use building', 'Apartment block', 'Castle', 'Other property', 'Exceptional property']
data_scraped = data_scraped[~data_scraped['Subtype'].isin(values_to_remove)]

# Removing unnecessary columns
columns_to_drop = ['Number_of_rooms', 'sale_annuity', 'Starting_price']
data_scraped = data_scraped.drop(columns=columns_to_drop, errors='ignore')


###   Cleaning data from outliers

# Remove outliers 6, 5, 8, 9 from 'Number_of_facades' column
#values_to_remove = [6, 5, 8, 9]
#data_scraped = data_scraped[~data_scraped['Number_of_facades'].isin(values_to_remove)]

# Outliers by 'Number Of Bedrooms' column, checked via IQR.

# In this method, we determine quartile values ​​Q1 (25th percentile) and Q3 (75th percentile) and then calculate IQR.
# Outliers are those that fall outside the range [Q1 - 1.5 * IQR, Q3 + 1.5 * IQR]

q1 = data_scraped['Number_of_bedrooms'].quantile(0.25)
q3 = data_scraped['Number_of_bedrooms'].quantile(0.75)
iqr = q3 - q1

# Specifying the scope of outliners
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Data filtering
data_scraped = data_scraped[(data_scraped['Number_of_bedrooms'] >= lower_bound) & 
                             (data_scraped['Number_of_bedrooms'] <= upper_bound)]

###   Cleaning data from duplicates

# Check which rows are duplicates (indicates True for duplicates)

cleaned_data = data_scraped.drop_duplicates(subset=['latitude', 'longitude', 'street', 'number', 'Subtype'])
duplicates = data_scraped[data_scraped.duplicated(subset=['latitude', 'longitude', 'street', 'number', 'Subtype'])]

#print(duplicates)

cleaned_data.to_csv('clean_data.csv', index=False)
print("The CSV file was saved as 'clean_data.csv'.")


cleaned_data[750:770]

The CSV file was saved as 'clean_data.csv'.

C:\Users\izama\AppData\Local\Temp\ipykernel_6136\1170825165.py:31: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_scraped[columns_for_change_01] = data_scraped[columns_for_change_01].replace({False:0, True:1}).fillna(0).astype('Int64')

,id,locality_name,Postal_code,Price,Subtype,Number_of_bedrooms,Living_area,Type_of_sale,street,number,latitude,longitude,Open_fire,Swimming_Pool,hasTerrace,terraceSurface,hasGarden,gardenSurface,Kitchen_type,Number_of_facades,State_of_building,Furnished,epc
1073,20228137,Lanaken,3620,898000,Villa,4,370 m²,For sale,Fazantenlaan,5,50.922871,5.669788,0,0,null,null,True,2842 m²,null,4,Good,0,B
1074,20228456,Oud-Turnhout,2360,1350000,Villa,5,569 m²,For sale,Tweesprongdreef,9 - 11,51.309341,5.016089,0,1,True,null,null,null,null,4,As new,0,C
1075,20242754,Rumbeke,8800,335000,House,3,148 m²,For sale,Rode-Beukenstraat,5,50.928159,3.128492,0,0,True,60 m²,True,300 m²,null,0,null,0,C
1077,20243406,Dilbeek,1702,489000,House,3,128 m²,For sale,Tengaerdestraat,18,50.872259,4.256671,0,0,True,22 m²,null,null,Hyper equipped,3,As new,0,B
1078,20242468,Kuurne,8520,775000,Mansion,3,0,For sale,Roterijstraat,20,50.845546,3.279395,0,0,True,20 m²,True,590 m²,null,2,As new,0,B
1079,20223100,Kortrijk,8500,189000,House,4,68 m²,For sale,Sint-Antoniusstraat,113,50.824433,3.275061,0,0,True,1 m²,null,null,Installed,2,Good,0,D
1080,20221067,Zottegem,9620,260000,House,3,219 m²,For sale,Sint-Andriessteenweg,116,50.868156,3.796439,0,0,null,null,null,null,Installed,0,Good,0,E
1082,20223107,Menen,8930,285000,House,4,165 m²,For sale,Harmoniestraat,73,50.789100,3.137096,0,0,True,10 m²,True,200 m²,Semi equipped,3,To renovate,0,F
1083,20221885,Zottegem,9620,289000,House,3,183 m²,For sale,Kleine Meerlaan,15,50.861507,3.809950,0,0,True,33 m²,True,400 m²,Installed,3,To renovate,0,F
1084,20223541,Aalst,9300,305000,House,4,179 m²,For sale,Bergekouter,18,50.941074,4.059296,0,0,True,30 m²,True,40 m²,Hyper equipped,2,Good,0,C
1085,20224388,Heffen,2801,379000,House,3,163 m²,For sale,Steenweg Op Heindonk,18,51.048809,4.420472,0,0,null,null,null,null,Semi equipped,3,To be done up,0,F
1086,20225370,Halle,1501,395000,Bungalow,2,116 m²,For sale,Sanatorialaan,2 A,50.737481,4.265127,0,0,True,null,True,500 m²,null,4,Good,0,F
1089,20222515,Malle,2390,599900,Villa,4,300 m²,For sale,Scherpenberg,10,51.291574,4.678617,0,0,True,null,True,1300 m²,null,4,Just renovated,0,D
1090,20223077,Izegem,8870,1200000,Mansion,4,498 m²,For sale,Roeselaarsestraat,96,50.919371,3.209219,0,0,True,50 m²,True,120 m²,Installed,2,Just renovated,0,C
1091,20231099,Gent,9000,449000,House,3,180 m²,For sale,Scheeplosserstraat,154,51.076767,3.751724,0,0,True,null,True,103 m²,null,3,Good,0,A
1111,20230995,Diksmuide,8600,129000,House,2,165 m²,For sale,Sint-Pietersplein,1,50.998749,2.799857,0,0,True,null,null,null,Not installed,0,To renovate,0,F
1112,20235029,Munte,9820,269000,House,3,177 m²,For sale,Hundelgemsesteenweg,1089,50.943052,3.736542,0,0,null,null,null,null,null,3,To be done up,0,F
1113,20235412,Grimminge,9506,275000,Bungalow,3,123 m²,For sale,Molenkouterstraat,6,50.791004,3.945519,0,0,True,null,True,429 m²,Hyper equipped,4,To renovate,0,E
1115,20232197,Gentbrugge,9050,295000,House,2,101 m²,For sale,Bruiloftstraat,5,51.031166,3.762816,0,0,null,null,null,null,Installed,0,Just renovated,0,B
1116,20236075,Grembergen,9200,429000,Bungalow,3,174 m²,For sale,Hagewijkpark,34,51.050659,4.104829,0,0,null,null,null,null,Installed,0,Just renovated,0,C

**HELPFUL CODES**

In [36]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6597 entries, 0 to 9988
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  6597 non-null   int64
 1   locality_name       6597 non-null   object
 2   Postal_code         6597 non-null   object
 3   Price               6597 non-null   Int64
 4   Subtype             6597 non-null   object
 5   Number_of_bedrooms  6597 non-null   Int64
 6   Living_area         6597 non-null   object
 7   Type_of_sale        6597 non-null   object
 8   street              6597 non-null   object
 9   number              6572 non-null   object
 10  latitude            6589 non-null   float64
 11  longitude           6589 non-null   float64
 12  Open_fire           6597 non-null   Int64
 13  Swimming_Pool       6597 non-null   Int64
 14  hasTerrace          6597 non-null   object
 15  terraceSurface      6597 non-null   object
 16  hasGarden           6597 non-null   object
 17  gardenSurface       6597 non-null   object
 18  Kitchen_type        6597 non-null   object
 19  Number_of_facades   6597 non-null   Int64
 20  State_of_building   6597 non-null   object
 21  Furnished           6597 non-null   Int64
 22  epc                 6597 non-null   object
dtypes: Int64(6), float64(2), int64(1), object(14)
memory usage: 1.2+ MB

In [33]:
#Checks the number of rows
data_scraped.shape[0]
#filtered_data.shape[0]
cleaned_data.shape[0]

6597

In [74]:
#Checks the number of columns
data_scraped.shape[1]

24

In [121]:
# Print columns names to list
data_scraped.columns.tolist()

['id',
 'locality_name',
 'Postal_code',
 'Price',
 'Subtype',
 'Number_of_bedrooms',
 'Living_area',
 'Type_of_sale',
 'street',
 'number',
 'latitude',
 'longitude',
 'Open_fire',
 'Swimming_Pool',
 'hasTerrace',
 'terraceSurface',
 'hasGarden',
 'gardenSurface',
 'Kitchen_type',
 'Number_of_facades',
 'State_of_building',
 'Furnished',
 'epc']

In [37]:
#Checks values in column
data_scraped['Kitchen_type'].value_counts()

Kitchen_type
null                  2732
Installed             2257
Hyper equipped        1228
Semi equipped          694
Not installed          219
Usa installed           38
Usa hyper equipped      33
Usa uninstalled          4
Usa semi equipped        2
Name: count, dtype: int64

In [69]:
# Displaying rows with some value from a column
values_to_display = ['Farmhouse'] #Enter value name 
filtered_data = data_scraped[data_scraped['Subtype'].isin(values_to_display)] #Enter the column name
print(filtered_data)

            id              locality_name Postal_code    Price    Subtype  \
1152  20242024                  Koekelare        8680   575000  Farmhouse
1587  20239187                 Diepenbeek        3590   725000  Farmhouse
1941  20121636            Corroy-le-grand        1325   449000  Farmhouse
3249  20235626                 Huldenberg        3040  1200000  Farmhouse
3285  20201495                  Maarkedal        9680   349000  Farmhouse
3406  20203089                 Hoegaarden        3320   259000  Farmhouse
3584  20250406              Celles pottes        7760   459000  Farmhouse
3796  20205069                     Ravels        2380   865000  Farmhouse
4067  20230971         Rouvroy dampicourt        6767   220000  Farmhouse
4141  20150834  Merchtem brussegem vijlst        1785   875000  Farmhouse
4318  20212276               Buissonville        5580   450000  Farmhouse
4340  20247882                     Deinze        9800   495000  Farmhouse
4683  20235502         Sint-pieters-leeuw        1600   845000  Farmhouse
5231  20247411       Sint-katelijne-waver        2860   525000  Farmhouse
5527  11285757                       Asse        1730  1200000  Farmhouse
5551  20235868                   Aspelare        9404   435000  Farmhouse
5552  20235870                   Aspelare        9404   435000  Farmhouse
5553  20235869                   Aspelare        9404   435000  Farmhouse
5560  20212240          Marche-en-famenne        6900   250000  Farmhouse
5696  20240742                  Vlissegem        8421  1625000  Farmhouse
5909  11167997                  Nieuwrode        3221   415000  Farmhouse
6186  20126986                   Aywaille        4920   319000  Farmhouse
6406  11401737                      Engis        4480   620000  Farmhouse
6890  10957137                 Lapscheure        8340   549000  Farmhouse
6925  20103401                     Gistel        8470   719000  Farmhouse
6935  11348438                 Oudenaarde        9700   775000  Farmhouse
6943  20006158                Rijkevorsel        2310   895000  Farmhouse
6981  11404340                    Jabbeke        8490  2100000  Farmhouse
7889  20082900                   Gingelom        3890   398000  Farmhouse
8079  20228817            Fosses-la-ville        5070   935000  Farmhouse
8095  20221162                     Elzele        7890   475000  Farmhouse
8539  20071208               Lichtervelde        8810   795000  Farmhouse
8722  20184006                     Ninove        9400   325000  Farmhouse
9088  20110057                     Ramsel        2230   479000  Farmhouse
9110  20112694                    Herzele        9550   525000  Farmhouse
9142  20106902          Sint-lievens-esse        9550   635000  Farmhouse
9160  20138659                    Anzegem        8570   744000  Farmhouse
9193  11402800                    Bocholt        3950   995000  Farmhouse
9370  20177320                  Moignelée        5060   199999  Farmhouse
9667  20012904                  Diksmuide        8600   450000  Farmhouse
9698  11489156                  Diksmuide        8600   540000  Farmhouse
9787  10821443                  Wolvertem        1861  1600000  Farmhouse
9879  20173075                 Hertsberge        8020  1325000  Farmhouse
9920  20195233                     Brakel        9660   499000  Farmhouse
9954  20219501                      Putte        2580   675000  Farmhouse

      Number_of_rooms  Number_of_bedrooms Living_area sale_annuity  \
1152              1.0                   2      172 m²          NaN
1587             18.0                   4           0          NaN
1941              NaN                   4      198 m²          NaN
3249              7.0                   0      495 m²          NaN
3285             19.0                   3      248 m²          NaN
3406              1.0                   4      136 m²          NaN
3584              NaN                   4      265 m²          NaN
3796              NaN                   3      150 m²          NaN
4067              NaN                   4      200 m²          NaN
4141              NaN                   5      236 m²          NaN
4318              7.0                   5      230 m²          NaN
4340              NaN                   0           0          NaN
4683              NaN                   5      450 m²          NaN
5231             13.0                   4      252 m²          NaN
5527              NaN                   4      280 m²          NaN
5551              NaN                   3      197 m²          NaN
5552              NaN                   3      197 m²          NaN
5553              NaN                   3      197 m²          NaN
5560              6.0                   4      250 m²          NaN
5696              NaN                   4      304 m²          NaN
5909              9.0                   2      104 m²          NaN
6186              NaN                   5      152 m²          NaN
6406              NaN                   5      320 m²          NaN
6890              NaN                   3      154 m²          NaN
6925             15.0                   5      700 m²          NaN
6935             17.0                   4      380 m²          NaN
6943              1.0                   5      503 m²          NaN
6981              NaN                   5      442 m²          NaN
7889              NaN                   4      439 m²          NaN
8079              NaN                   8      420 m²          NaN
8095             28.0                  10           0          NaN
8539             28.0                  10      510 m²          NaN
8722             17.0                   3      320 m²          NaN
9088             13.0                   2      163 m²          NaN
9110             14.0                   7      272 m²          NaN
9142              5.0                   4      300 m²          NaN
9160             20.0                   3      300 m²          NaN
9193              1.0                   4      336 m²          NaN
9370              NaN                   2      109 m²          NaN
9667             10.0                   4      161 m²          NaN
9698             10.0                   4      161 m²          NaN
9787              1.0                   7      323 m²          NaN
9879              NaN                   3      238 m²          NaN
9920             22.0                   5      286 m²          NaN
9954              NaN                   4      260 m²          NaN

     Type_of_sale                 street number   latitude  longitude  \
1152     For sale         Oostmeetstraat    300  51.099457   2.945102
1587     For sale          Mizerikstraat    101  50.932900   5.386668
1941     For sale        Rue du Warichet     24  50.666862   4.672920
3249     For sale            Dorpsstraat      5  50.818672   4.628571
3285     For sale             Ellestraat      3  50.816501   3.640043
3406     For sale             Brugstraat     19  50.767748   4.917600
3584     For sale         Rue de la Gare     44  50.721513   3.403072
3796     For sale        Vogelbergstraat     22  51.396694   5.032742
4067     For sale  Rue du Huit Septembre     34  49.552181   5.498560
4141     For sale           Vijlststraat      3  50.938495   4.287226
4318     For sale          Rue du Busson     16  50.216618   5.199242
4340     For sale        Lange Meerskant      5  50.995297   3.492484
4683     For sale             Hoogstraat     36  50.784880   4.237541
5231     For sale            Leliestraat     62  51.065668   4.555415
5527     For sale               Waarbeek     36  50.923827   4.219635
5551     For sale   Cyriel Prieëlsstraat    160  50.849017   3.942913
5552     For sale   Cyriel Prieëlsstraat    160  50.849017   3.942913
5553     For sale   Cyriel Prieëlsstraat    160  50.849017   3.942913
5560     For sale           Rue de Hogne     76  50.236773   5.298719
5696     For sale         Vijfwegestraat     19  51.232660   3.060360
5909     For sale        Veeliedenstraat     38  50.959479   4.828706
6186     For sale        Rue de Bastogne     33  50.439404   5.667497
6406     For sale              Rue Gérée     10  50.557577   5.361397
6890     For sale             Hoogstraat     70  51.281302   3.359780
6925     For sale             Beekstraat      1  51.127085   2.978436
6935     For sale               Kerkgate     35  50.845955   3.666836
6943     For sale               De Parre     12  51.335302   4.762105
6981     For sale        Isenbaertstraat    106  51.158462   3.124808
7889     For sale            Groenplaats     12  50.717473   5.145636
8079     For sale                    NaN    NaN        NaN        NaN
8095     For sale            Rue du Pont  72-80  50.733034   3.686584
8539     For sale         Oude Bruggeweg     33  51.042547   3.148634
8722     For sale                Camberg     44  50.821943   3.946104
9088     For sale     Aarschotsesteenweg    158  51.024373   4.845135
9110     For sale                Gentweg     78  50.834073   3.871751
9142     For sale            Zavelstraat     52  50.846709   3.911688
9160     For sale        Landergemstraat     55  50.830216   3.450882
9193     For sale           Krokusstraat     16  51.184929   5.557444
9370     For sale                    NaN    NaN        NaN        NaN
9667     For sale      Lappersfortstraat     31  51.095242   2.906018
9698     For sale      Lappersfortstraat     31  51.095242   2.906018
9787     For sale         Meusegemstraat     79  50.959431   4.288508
9879     For sale              Kleithoek      3  51.095155   3.279368
9920     For sale              Terkleppe     14  50.763849   3.783602
9954     For sale            Vogelstraat     99  51.051645   4.656604

      Open_fire  Swimming_Pool hasTerrace terraceSurface hasGarden  \
1152          0              0       null           null      null
1587          0              0       True           null      null
1941          0              0       True          10 m²      True
3249          0              0       True         119 m²      null
3285          0              0       True           null      null
3406          0              0       null           null      True
3584          0              0       True           null      null
3796          0              0       True           null      null
4067          0              0       True           null      null
4141          1              0       True           null      null
4318          1              0       null           null      null
4340          0              0       null           null      null
4683          0              0       null           null      null
5231          0              0       null           null      null
5527          1              0       True         100 m²      True
5551          0              0       null           null      null
5552          0              0       null           null      null
5553          0              0       null           null      null
5560          1              0       null           null      null
5696          0              0       True           null      null
5909          0              0       null           null      True
6186          0              0       null           null      null
6406          0              0       null           null      True
6890          1              0       True           null      null
6925          0              0       True          40 m²      True
6935          0              0       True           null      null
6943          1              0       null           null      null
6981          0              0       True         102 m²      True
7889          0              0       True           null      null
8079          1              0       True           null      null
8095          0              0       True           null      True
8539          0              0       null           null      True
8722          0              0       True           null      null
9088          0              0       null           null      null
9110          0              0       null           null      null
9142          1              0       True         100 m²      True
9160          1              0       True           null      True
9193          1              1       null           null      null
9370          0              0       null           null      True
9667          0              0       null           null      null
9698          0              0       null           null      null
9787          0              0       null           null      null
9879          1              0       null           null      null
9920          0              0       True           null      null
9954          0              0       True          40 m²      null

     gardenSurface    Kitchen_type  Number_of_facades State_of_building  \
1152          null             Nan                  4              Good
1587          null       Installed                  0              Good
1941        160 m²   Semi equipped                  4     To be done up
3249          null  Hyper equipped                  0               Nan
3285          null             Nan                  0       To renovate
3406        500 m²             Nan                  4       To renovate
3584          null       Installed                  4            As new
3796          null       Installed                  4              Good
4067          null       Installed                  2       To renovate
4141          null   Semi equipped                  4       To renovate
4318          null             Nan                  0              Good
4340          null       Installed                  0       To renovate
4683          null             Nan                  4               Nan
5231          null             Nan                  0       To renovate
5527      10000 m²       Installed                  4              Good
5551          null  Hyper equipped                  3            As new
5552          null  Hyper equipped                  3            As new
5553          null  Hyper equipped                  3            As new
5560          null             Nan                  0       To renovate
5696          null       Installed                  4               Nan
5909       1600 m²             Nan                  0       To renovate
6186          null   Not installed                  3       To renovate
6406       1000 m²   Not installed                  4       To renovate
6890          null       Installed                  4              Good
6925        400 m²             Nan                  0              Good
6935          null             Nan                  0              Good
6943          null             Nan                  4              Good
6981        450 m²  Hyper equipped                  4     To be done up
7889          null   Not installed                  4       To renovate
8079          null       Installed                  4    Just renovated
8095       6035 m²             Nan                  0       To renovate
8539       1000 m²       Installed                  0              Good
8722          null             Nan                  0               Nan
9088          null             Nan                  0       To renovate
9110          null             Nan                  0       To renovate
9142       8800 m²             Nan                  0       To renovate
9160       1156 m²       Installed                  4              Good
9193          null             Nan                  4              Good
9370        160 m²       Installed                  3     To be done up
9667          null             Nan                  0       To renovate
9698          null             Nan                  0       To renovate
9787          null             Nan                  4              Good
9879          null  Hyper equipped                  4    Just renovated
9920          null             Nan                  0               Nan
9954          null  Hyper equipped                  4               Nan

      Furnished Starting_price  epc
1152          0          False    F
1587          0          False    D
1941          0            NaN    F
3249          0          False    D
3285          0          False    F
3406          0          False    F
3584          0            NaN    F
3796          0            NaN    C
4067          0            NaN    F
4141          0            NaN    C
4318          0            NaN    D
4340          0          False  NaN
4683          0          False    D
5231          0          False    F
5527          0          False    C
5551          0          False    D
5552          0          False    D
5553          0          False    D
5560          0            NaN    G
5696          0          False  NaN
5909          0          False    F
6186          0            NaN    G
6406          0            NaN    G
6890          0            NaN    D
6925          0          False    E
6935          0          False  NaN
6943          0          False    C
6981          0            NaN    F
7889          0            NaN    F
8079          0            NaN    D
8095          0          False    F
8539          1          False    C
8722          0          False    F
9088          0          False    F
9110          0          False    F
9142          0            NaN    F
9160          0          False    C
9193          0          False    C
9370          0            NaN    G
9667          0          False    F
9698          0          False    F
9787          0          False    D
9879          0          False    B
9920          0          False    F
9954          0            NaN    B

In [12]:
# Displaying duplicates
duplicate_count = data_scraped.duplicated(subset=['latitude', 'longitude', 'street', 'number']).sum()
print("Number of duplicates:", duplicate_count)
duplicates.info()

Number of duplicates: 663
<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 38 to 9980
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  663 non-null    int64
 1   locality_name       663 non-null    object
 2   Postal_code         663 non-null    object
 3   Price               663 non-null    Int64
 4   Subtype             663 non-null    object
 5   Number_of_bedrooms  663 non-null    Int64
 6   Living_area         663 non-null    object
 7   Type_of_sale        663 non-null    object
 8   street              663 non-null    object
 9   number              474 non-null    object
 10  latitude            478 non-null    float64
 11  longitude           478 non-null    float64
 12  Open_fire           663 non-null    Int64
 13  Swimming_Pool       663 non-null    Int64
 14  hasTerrace          663 non-null    object
 15  terraceSurface      663 non-null    object
 16  hasGarden           663 non-null    object
 17  gardenSurface       663 non-null    object
 18  Kitchen_type        663 non-null    object
 19  Number_of_facades   663 non-null    Int64
 20  State_of_building   663 non-null    object
 21  Furnished           663 non-null    Int64
 22  epc                 663 non-null    object
dtypes: Int64(6), float64(2), int64(1), object(14)
memory usage: 128.2+ KB