In [13]:
import pandas as pd

file_path =  r'C:\Users\tom_v\becode_projects\3_ImmoWeb_scraper\immo-eliza-team6-analysis\data\clean\cleaned_data_incl_outliers.csv'

df = pd.read_csv(file_path, sep = ',')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  7352 non-null   int64
 1   locality_name       7352 non-null   object
 2   Postal_code         7352 non-null   object
 3   Price               7352 non-null   int64
 4   Subtype             7352 non-null   object
 5   Number_of_bedrooms  7352 non-null   int64
 6   Living_area         7352 non-null   int64
 7   street              7352 non-null   object
 8   number              7325 non-null   object
 9   latitude            7342 non-null   float64
 10  longitude           7342 non-null   float64
 11  Open_fire           7352 non-null   int64
 12  Swimming_Pool       7352 non-null   int64
 13  hasTerrace          7352 non-null   int64
 14  terraceSurface      7352 non-null   int64
 15  gardenSurface       7352 non-null   int64
 16  Kitchen_type        4591 non-null   object
 17  Number_of_facades   7352 non-null   int64
 18  State_of_building   6674 non-null   object
 19  Furnished           7352 non-null   int64
 20  epc                 7025 non-null   object
 21  landSurface         6299 non-null   float64
 22  price_per_sqm       7352 non-null   float64
 23  price_per_sqm_land  6299 non-null   float64
dtypes: float64(5), int64(11), object(8)
memory usage: 1.3+ MB

In [14]:
#Check the missing values
df['Subtype'].isnull().mean()*100

np.float64(0.0)

In [15]:
df['Subtype'].isnull().sum()

np.int64(0)

In [16]:
frequency = df['Subtype'].value_counts()
frequency

Subtype
House                 5663
Villa                  802
Mixed use building     282
Apartment block        220
Mansion                155
Town house             101
Country cottage         82
Farmhouse               37
Manor house             10
Name: count, dtype: int64

In [17]:


category_map = {'Mansion': 'Villa', 'Manor house': 'Villa', 'Country cottage':'Farmhouse','Town house':'House','Miwed use building':'Commercial','Apartment block':'Commercial'}
df['Subtype'] = df['Subtype'].map(category_map).fillna(df['Subtype'])

frequency = df['Subtype'].value_counts()
frequency

Subtype
House                 5764
Villa                  967
Mixed use building     282
Commercial             220
Farmhouse              119
Name: count, dtype: int64

### FILTER ON SUBTYPE 'HOUSE' ONLY AND SAVE OUTPUT TO .csv FILE

In [12]:
# Filter data on subtype 'house' only

houses_incl_outliers = df[df['Subtype'] == 'House']

# Save data to new csv file**SAVING DATA TO NEW FILE**

houses_incl_outliers.to_csv(r'..\data\clean\houses_incl_outliers.csv', index=False)

print("The CSV file was saved as 'houses_incl_outliers.csv'.")

# Display first 5 rows
houses_incl_outliers.head()
houses_incl_outliers.info()

The CSV file was saved as 'houses_incl_outliers.csv'.
<class 'pandas.core.frame.DataFrame'>
Index: 5663 entries, 0 to 7351
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5663 non-null   int64
 1   locality_name       5663 non-null   object
 2   Postal_code         5663 non-null   object
 3   Price               5663 non-null   int64
 4   Subtype             5663 non-null   object
 5   Number_of_bedrooms  5663 non-null   int64
 6   Living_area         5663 non-null   int64
 7   street              5663 non-null   object
 8   number              5646 non-null   object
 9   latitude            5661 non-null   float64
 10  longitude           5661 non-null   float64
 11  Open_fire           5663 non-null   int64
 12  Swimming_Pool       5663 non-null   int64
 13  hasTerrace          5663 non-null   int64
 14  terraceSurface      5663 non-null   int64
 15  gardenSurface       5663 non-null   int64
 16  Kitchen_type        3512 non-null   object
 17  Number_of_facades   5663 non-null   int64
 18  State_of_building   5130 non-null   object
 19  Furnished           5663 non-null   int64
 20  epc                 5408 non-null   object
 21  landSurface         4826 non-null   float64
 22  price_per_sqm       5663 non-null   float64
 23  price_per_sqm_land  4826 non-null   float64
dtypes: float64(5), int64(11), object(8)
memory usage: 1.1+ MB