In [7]:
import pandas as pd

file_path =  r'C:\Users\Rik\Desktop\immo-eliza-team6-analysis\data\raw\immo_scraper_merged_with_landsurface.csv'

df = pd.read_csv(file_path, sep = ',')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9995 entries, 0 to 9994
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  9995 non-null   int64
 1   locality_name       9995 non-null   object
 2   Postal_code         9995 non-null   object
 3   Price               9340 non-null   float64
 4   Subtype             9995 non-null   object
 5   Number_of_rooms     3328 non-null   float64
 6   Number_of_bedrooms  9356 non-null   float64
 7   Living_area         9170 non-null   float64
 8   sale_annuity        16 non-null     object
 9   Type_of_sale        9995 non-null   object
 10  street              9700 non-null   object
 11  number              9589 non-null   object
 12  latitude            9705 non-null   float64
 13  longitude           9705 non-null   float64
 14  Open_fire           9995 non-null   bool
 15  Swimming_Pool       3859 non-null   object
 16  hasTerrace          6416 non-null   object
 17  terraceSurface      3218 non-null   float64
 18  hasGarden           3844 non-null   object
 19  gardenSurface       3844 non-null   float64
 20  Kitchen_type        6033 non-null   object
 21  Number_of_facades   7601 non-null   float64
 22  State_of_building   8497 non-null   object
 23  Furnished           3936 non-null   object
 24  Starting_price      4406 non-null   object
 25  epc                 8945 non-null   object
 26  landSurface         7830 non-null   float64
dtypes: bool(1), float64(10), int64(1), object(15)
memory usage: 2.0+ MB

In [8]:
#Check the missing values
df['Subtype'].isnull().mean()*100

np.float64(0.0)

In [9]:
df['Subtype'].isnull().sum()

np.int64(0)

In [10]:
frequency = df['Subtype'].value_counts()
frequency

Subtype
HOUSE                   6912
VILLA                   1051
HOUSE_GROUP              639
MIXED_USE_BUILDING       356
APARTMENT_BLOCK          273
EXCEPTIONAL_PROPERTY     188
MANSION                  181
TOWN_HOUSE               114
BUNGALOW                 100
COUNTRY_COTTAGE           99
FARMHOUSE                 47
CHALET                    14
MANOR_HOUSE               10
CASTLE                     8
OTHER_PROPERTY             3
Name: count, dtype: int64

In [11]:


category_map = {'MANSION': 'VILLA', 'MANOR_HOUSE': 'VILLA', 'COUNTRY_COTTAGE':'FARMHOUSE','TOWN_HOUSE':'HOUSE','MIXED_USE_BUILDING':'COMMERCIAL','APARTMENT_BLOCK':'COMMERCIAL'}
df['Subtype'] = df['Subtype'].map(category_map).fillna(df['Subtype'])

frequency = df['Subtype'].value_counts()
frequency

Subtype
HOUSE                   7026
VILLA                   1242
HOUSE_GROUP              639
COMMERCIAL               629
EXCEPTIONAL_PROPERTY     188
FARMHOUSE                146
BUNGALOW                 100
CHALET                    14
CASTLE                     8
OTHER_PROPERTY             3
Name: count, dtype: int64