In [8]:
import pandas as pd

data = r'C:\repos\immo-eliza-team6-analysis\data\raw\immo_scraper_merged_test.csv'
df = pd.read_csv(data)

In [17]:
df.shape

(9989, 26)

In [18]:
df.dtypes

id                      int64
locality_name          object
Postal_code            object
Price                 float64
Subtype                object
Number_of_rooms       float64
Number_of_bedrooms    float64
Living_area           float64
sale_annuity           object
Type_of_sale           object
street                 object
number                 object
latitude              float64
longitude             float64
Open_fire                bool
Swimming_Pool          object
hasTerrace             object
terraceSurface        float64
hasGarden              object
gardenSurface         float64
Kitchen_type           object
Number_of_facades     float64
State_of_building      object
Furnished              object
Starting_price         object
epc                    object
dtype: object

In [59]:
df2= df[df["Price"] > 0]
df2.Starting_price

0         NaN
1         NaN
8         NaN
9         NaN
18        NaN
        ...
9984    False
9985      NaN
9986     True
9987      NaN
9988    False
Name: Starting_price, Length: 9334, dtype: object

In [60]:
df3= df2[df2['Starting_price']== 'False']
df3.shape

(0, 26)

In [69]:
pd.options.display.max_columns = 999
df2.head(50
         )

,id,locality_name,Postal_code,Price,Subtype,Number_of_rooms,Number_of_bedrooms,Living_area,sale_annuity,Type_of_sale,street,number,latitude,longitude,Open_fire,Swimming_Pool,hasTerrace,terraceSurface,hasGarden,gardenSurface,Kitchen_type,Number_of_facades,State_of_building,Furnished,Starting_price,epc
0,20252354,RONSE,9600,319000.0,HOUSE,NaN,3.0,125.0,NaN,FOR_SALE,Rotterij,148,50.744176,3.625722,False,NaN,True,NaN,True,370.0,NaN,4.0,TO_RENOVATE,NaN,NaN,F
1,20251003,GERAARDSBERGEN,9500,299999.0,HOUSE,NaN,3.0,167.0,NaN,FOR_SALE,Pirrestraat,17,50.752121,3.925495,False,NaN,True,NaN,True,895.0,INSTALLED,2.0,GOOD,NaN,NaN,D
8,20252002,MECHELEN,2800,275000.0,HOUSE,NaN,3.0,154.0,NaN,FOR_SALE,Caputsteenstraat,150,51.033269,4.491795,False,NaN,True,10.0,True,20.0,SEMI_EQUIPPED,2.0,TO_RENOVATE,NaN,NaN,E
9,20252352,Gooik,1755,295000.0,HOUSE,NaN,3.0,172.0,NaN,FOR_SALE,Strijlandstraat,45,50.791877,4.084293,False,NaN,True,NaN,True,300.0,NaN,3.0,TO_RENOVATE,NaN,NaN,F
18,20250577,SINT-KATELIJNE-WAVER,2860,345000.0,APARTMENT_BLOCK,NaN,1.0,43.0,NaN,FOR_SALE,IJzerenveld,4,51.034950,4.511372,False,NaN,True,4.0,NaN,NaN,NaN,2.0,GOOD,NaN,NaN,B
19,20250989,OETINGEN,1755,560000.0,MIXED_USE_BUILDING,NaN,4.0,350.0,NaN,FOR_SALE,Blijkheerstraat,70,50.775412,4.047057,False,NaN,True,40.0,True,32.0,INSTALLED,3.0,GOOD,NaN,NaN,C
20,20250985,OETINGEN,1755,560000.0,HOUSE,NaN,4.0,350.0,NaN,FOR_SALE,Blijkheerstraat,70,50.775412,4.047057,False,NaN,True,40.0,True,32.0,INSTALLED,3.0,GOOD,NaN,NaN,C
21,20251715,Dilbeek,1700,715000.0,HOUSE,19.0,3.0,280.0,NaN,FOR_SALE,Herdebeekstraat 94-94a,0,50.840610,4.228425,False,True,True,36.0,True,374.0,NaN,3.0,AS_NEW,False,False,C
22,20248858,Woluwe-Saint-Lambert,1200,790000.0,HOUSE,9.0,5.0,349.0,NaN,FOR_SALE,Rue De La Cambre - Terkamerenstraat,296,50.839333,4.430145,True,False,True,14.0,True,60.0,USA_HYPER_EQUIPPED,2.0,GOOD,NaN,False,F
23,20245694,HERZELE,9550,198800.0,HOUSE,NaN,3.0,125.0,NaN,FOR_SALE,Stationsstraat,173,50.894568,3.884342,False,NaN,True,45.0,True,106.0,SEMI_EQUIPPED,2.0,TO_RENOVATE,NaN,NaN,F
24,20252127,Saint-Nicolas,4420,179000.0,HOUSE,NaN,3.0,100.0,NaN,FOR_SALE,Rue Sous les Vignes,63,50.618342,5.540482,False,False,True,13.0,True,41.0,INSTALLED,2.0,AS_NEW,False,True,E
25,20250831,WILRIJK,2610,299000.0,HOUSE,NaN,3.0,132.0,NaN,FOR_SALE,Egied Segerslaan,42,51.177267,4.375369,False,NaN,NaN,NaN,True,40.0,NaN,2.0,AS_NEW,NaN,NaN,D
26,20250541,Brecht,2960,469000.0,HOUSE,NaN,3.0,153.0,NaN,FOR_SALE,Cambeenbos Laan D,3,51.310017,4.575123,True,NaN,True,NaN,NaN,NaN,SEMI_EQUIPPED,4.0,TO_RENOVATE,NaN,NaN,D
27,20251565,Etterbeek,1040,870000.0,APARTMENT_BLOCK,NaN,4.0,239.0,NaN,FOR_SALE,Chaussée Saint-Pierre,316,50.837249,4.397203,False,False,True,5.0,NaN,NaN,INSTALLED,2.0,GOOD,True,NaN,G
28,20252349,HERENT,3020,890000.0,VILLA,NaN,5.0,240.0,NaN,FOR_SALE,NaN,15,50.909189,4.657269,False,NaN,True,50.0,True,624.0,NaN,4.0,JUST_RENOVATED,NaN,NaN,A
29,20243528,BEERSEL,1650,499000.0,HOUSE,NaN,2.0,110.0,NaN,FOR_SALE,Prins Boudewijnlaan,5,50.728122,4.275038,False,NaN,True,NaN,True,5200.0,INSTALLED,4.0,GOOD,NaN,NaN,F
31,20246830,NIEL,2845,284000.0,HOUSE,NaN,3.0,148.0,NaN,FOR_SALE,Schuttershofstraat,49,51.108101,4.323972,False,NaN,NaN,NaN,True,28.0,INSTALLED,2.0,GOOD,NaN,NaN,C
32,20246074,ROESELARE,8800,339000.0,HOUSE,NaN,3.0,164.0,NaN,FOR_SALE,Weststraat,131,50.948183,3.111000,False,NaN,True,15.0,True,40.0,INSTALLED,3.0,GOOD,NaN,NaN,A
33,20246399,MERKSEM,2170,349000.0,TOWN_HOUSE,NaN,3.0,193.0,NaN,FOR_SALE,Bredabaan,816B,51.252498,4.456992,False,NaN,NaN,NaN,True,53.0,INSTALLED,2.0,TO_BE_DONE_UP,NaN,NaN,D
34,20248788,MERCHTEM,1785,550000.0,VILLA,NaN,3.0,193.0,NaN,FOR_SALE,Terlinden,32,50.968748,4.240435,False,NaN,True,NaN,NaN,NaN,INSTALLED,4.0,GOOD,NaN,NaN,B
35,20246734,Oedelem,8730,635000.0,HOUSE,NaN,3.0,171.0,NaN,FOR_SALE,Bruggestraat,175,51.175198,3.313654,True,False,True,25.0,True,1310.0,HYPER_EQUIPPED,4.0,AS_NEW,NaN,False,D
36,20221782,DEURNE,2100,284000.0,HOUSE,NaN,3.0,89.0,NaN,FOR_SALE,Boekenbergplein,10,51.203166,4.462397,False,NaN,True,3.0,True,97.0,SEMI_EQUIPPED,2.0,TO_BE_DONE_UP,NaN,NaN,E
37,20236558,ANTWERPEN,2018,389900.0,HOUSE,NaN,3.0,150.0,NaN,FOR_SALE,Kroonstraat,134,51.212485,4.429373,False,NaN,True,5.0,True,19.0,HYPER_EQUIPPED,2.0,JUST_RENOVATED,NaN,NaN,C
38,20236560,BORGERHOUT,2140,389900.0,HOUSE,NaN,3.0,150.0,NaN,FOR_SALE,Kroonstraat,134,51.212485,4.429373,False,NaN,True,5.0,True,19.0,HYPER_EQUIPPED,2.0,JUST_RENOVATED,NaN,NaN,C
39,20250996,GERAARDSBERGEN,9500,160000.0,HOUSE,NaN,4.0,147.0,NaN,FOR_SALE,Warandestraat,36,50.772593,3.873734,False,NaN,True,22.0,NaN,NaN,INSTALLED,2.0,TO_BE_DONE_UP,NaN,NaN,C
40,20250987,GERAARDSBERGEN,9500,160000.0,MIXED_USE_BUILDING,NaN,4.0,147.0,NaN,FOR_SALE,Warandestraat,36,50.772593,3.873734,False,NaN,True,22.0,NaN,NaN,INSTALLED,2.0,TO_BE_DONE_UP,NaN,NaN,C
41,20252126,Seraing,4100,179000.0,HOUSE,NaN,3.0,125.0,NaN,FOR_SALE,Rue des Bas-Sarts,107,50.596611,5.490352,False,False,True,19.0,True,145.0,SEMI_EQUIPPED,2.0,GOOD,False,True,D
42,20249528,Ronse,9600,325500.0,HOUSE,NaN,3.0,122.0,NaN,FOR_SALE,Rotterij,148,50.744176,3.625722,False,False,True,16.0,True,370.0,HYPER_EQUIPPED,4.0,TO_BE_DONE_UP,False,NaN,F
43,20251656,Juprelle,4450,348500.0,HOUSE,12.0,3.0,125.0,NaN,FOR_SALE,Chaussée de Tongres,105,50.689473,5.536823,False,False,True,53.0,True,563.0,INSTALLED,3.0,GOOD,False,NaN,D
44,20251360,Herent,3020,409000.0,HOUSE,14.0,2.0,160.0,NaN,FOR_SALE,Hof ter Bekelaan,15,50.884898,4.670449,False,NaN,True,15.0,True,380.0,INSTALLED,NaN,TO_BE_DONE_UP,False,False,F
45,20250139,Drogenbos,1620,449000.0,APARTMENT_BLOCK,22.0,3.0,159.0,NaN,FOR_SALE,Rue Longue,315,50.796686,4.310945,False,False,True,9.0,True,115.0,INSTALLED,3.0,GOOD,False,NaN,E
46,20251318,LASNE,1380,599000.0,VILLA,NaN,5.0,298.0,NaN,FOR_SALE,Chemin du Meunier,1,50.688625,4.507695,True,True,True,75.0,True,2500.0,INSTALLED,4.0,TO_BE_DONE_UP,NaN,True,D
47,20242082,DWORP,1653,359000.0,HOUSE,NaN,2.0,78.0,NaN,FOR_SALE,Kerkstraat,147,50.726500,4.307471,False,NaN,True,NaN,NaN,NaN,INSTALLED,4.0,GOOD,NaN,NaN,D
48,20245215,Seraing,4102,199900.0,HOUSE,NaN,3.0,131.0,NaN,FOR_SALE,Rue des Coteaux,50,50.597657,5.540700,False,False,True,40.0,True,30.0,INSTALLED,2.0,AS_NEW,False,True,C
49,20249492,Stene,8400,345000.0,HOUSE,1.0,3.0,223.0,NaN,FOR_SALE,Vanderstichelenstraat,130,51.213318,2.936050,False,NaN,True,10.0,True,66.0,NaN,2.0,AS_NEW,NaN,False,C
50,20245396,Zottegem,9620,349000.0,BUNGALOW,NaN,4.0,237.0,NaN,FOR_SALE,Tulpenstraat,1,50.861484,3.828684,False,False,True,16.0,True,390.0,HYPER_EQUIPPED,4.0,TO_RENOVATE,False,NaN,F
51,20245133,Woluwe-Saint-Lambert,1200,795000.0,HOUSE,NaN,5.0,225.0,NaN,FOR_SALE,Avenue du Prince Héritier,181,50.846942,4.408268,False,False,True,15.0,True,120.0,INSTALLED,2.0,TO_RENOVATE,False,NaN,G
52,20241609,EDEGEM,2650,384950.0,HOUSE,NaN,3.0,160.0,NaN,FOR_SALE,Henri Dunantstraat,51,51.161866,4.448428,False,NaN,NaN,NaN,True,70.0,SEMI_EQUIPPED,2.0,TO_BE_DONE_UP,NaN,NaN,D
56,20249970,WÉPION,5100,375000.0,HOUSE,NaN,3.0,186.0,NaN,FOR_SALE,Jaune Voie,99,50.411768,4.865946,False,NaN,True,10.0,True,1917.0,INSTALLED,4.0,JUST_RENOVATED,NaN,NaN,D
57,20251945,SINT-DENIJS,8554,534000.0,COUNTRY_COTTAGE,NaN,2.0,170.0,NaN,FOR_SALE,Kooigemstraat,83,50.746889,3.345515,False,NaN,True,NaN,NaN,NaN,INSTALLED,3.0,GOOD,NaN,NaN,B
58,20246192,HOBOKEN,2660,295000.0,HOUSE,NaN,3.0,120.0,NaN,FOR_SALE,Leopoldlei,140,51.181305,4.352562,False,NaN,NaN,NaN,True,28.0,USA_INSTALLED,2.0,GOOD,NaN,NaN,B
59,20246645,Tamines,5060,319000.0,HOUSE,15.0,4.0,188.0,NaN,FOR_SALE,Avenue Président Roosevelt,117,50.439552,4.607527,False,False,True,13.0,True,608.0,HYPER_EQUIPPED,2.0,GOOD,NaN,NaN,F
60,20247068,Schaerbeek,1030,399000.0,APARTMENT_BLOCK,21.0,5.0,200.0,NaN,FOR_SALE,Rue Van Droogenbroeck,22,50.877062,4.388592,False,False,True,10.0,True,30.0,SEMI_EQUIPPED,2.0,TO_BE_DONE_UP,False,NaN,G
61,20246066,OUDENAARDE,9700,435000.0,EXCEPTIONAL_PROPERTY,NaN,4.0,333.0,NaN,FOR_SALE,Graaf van Landaststraat,24,50.870647,3.620351,False,NaN,NaN,NaN,True,700.0,SEMI_EQUIPPED,3.0,TO_RENOVATE,NaN,NaN,E
62,20246809,BALEGEM,9860,699000.0,HOUSE,NaN,7.0,876.0,NaN,FOR_SALE,Walzegem,34,50.901045,3.806283,False,NaN,True,227.0,True,3263.0,SEMI_EQUIPPED,NaN,TO_RENOVATE,NaN,NaN,F
63,20246808,BALEGEM,9860,699000.0,MIXED_USE_BUILDING,NaN,7.0,876.0,NaN,FOR_SALE,Walzegem,34,50.901045,3.806283,False,NaN,True,227.0,True,3263.0,SEMI_EQUIPPED,NaN,TO_RENOVATE,NaN,NaN,F
64,20249767,Liège,4020,149000.0,HOUSE,NaN,5.0,152.0,NaN,FOR_SALE,Rue du Martyr,11,50.642471,5.599990,False,False,NaN,NaN,NaN,NaN,NOT_INSTALLED,2.0,TO_BE_DONE_UP,False,True,C
65,20250939,Tienen,3300,315000.0,HOUSE,1.0,3.0,194.0,NaN,FOR_SALE,IJzerstraat,17,50.812516,4.938025,False,NaN,NaN,NaN,True,25.0,NaN,2.0,TO_RENOVATE,NaN,False,E
66,20249586,Oordegem,9340,319000.0,HOUSE,NaN,3.0,117.0,NaN,FOR_SALE,Dokter Prieëlslaan,46,50.960121,3.903695,False,NaN,True,NaN,NaN,NaN,INSTALLED,3.0,GOOD,NaN,NaN,E
67,20252046,Torhout,8820,329000.0,HOUSE,1.0,4.0,198.0,NaN,FOR_SALE,Koolskampstraat,41,51.052207,3.117227,False,NaN,True,15.0,True,643.0,NaN,4.0,GOOD,NaN,False,D

In [19]:
df.describe()

,id,Price,Number_of_rooms,Number_of_bedrooms,Living_area,latitude,longitude,terraceSurface,gardenSurface,Number_of_facades
count,9.989000e+03,9.334000e+03,3327.000000,9350.000000,9164.000000,9699.000000,9699.000000,3216.000000,3839.000000,7595.000000
mean,1.872643e+07,5.445933e+05,8.316802,3.650267,227.291467,50.885033,4.208978,35.708333,710.067726,3.034760
std,3.317759e+06,5.746735e+05,8.999300,1.491028,146.569827,0.314377,0.770022,73.424403,2236.728832,0.874147
min,8.372812e+06,3.000000e+04,1.000000,0.000000,27.000000,49.507785,2.580919,1.000000,1.000000,1.000000
25%,2.009296e+07,2.850000e+05,1.000000,3.000000,146.000000,50.763661,3.634832,15.000000,85.000000,2.000000
50%,2.018891e+07,3.990000e+05,7.000000,3.000000,188.000000,50.920871,4.226800,24.000000,239.000000,3.000000
75%,2.022757e+07,5.950000e+05,14.000000,4.000000,260.000000,51.091702,4.639558,40.000000,639.500000,4.000000
max,2.025236e+07,8.900000e+06,334.000000,25.000000,4000.000000,51.501038,6.325555,2771.000000,80477.000000,9.000000

In [31]:
df[(df > 0).Price]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:

#Replace 'True' and 'False' value on binary values
columns_for_change_01 = ['Equipped_kitchen', 'Furnished', 'Open_fire', 'Swimming_Pool'] #Columns for change
data_scraped[columns_for_change_01] = data_scraped[columns_for_change_01].replace({False:0, True:1})

#Add m² for area columns 
columns_for_change_m2 = ['Living_area', 'Terrace', 'Garden'] #Columns for change

for col in columns_for_change_m2:
    data_scraped[col] = pd.to_numeric(data_scraped[col], errors='coerce').fillna(0).astype('Int64') #Change string value to an integer 

for col in columns_for_change_m2:
    data_scraped[col] = data_scraped[col].apply(lambda x: f"{x} m²" if pd.notna(x) and x != 0 else x) #Add m² to the area values

#Replace "0" with "Null"
columns_for_change_null = ['Terrace', 'Garden']
data_scraped[columns_for_change_null] = data_scraped[columns_for_change_null].replace({0: 'null'})

#Edit text in the locality column
data_scraped['locality_name'] = data_scraped['locality_name'].str.title()

#Edit text in the type of sale column
data_scraped['Type_of_sale'] = data_scraped['Type_of_sale'].str.replace('_', ' ').str.capitalize()

#Edit the number of facades
data_scraped['Number_of_facades'] = pd.to_numeric(data_scraped['Number_of_facades'], errors='coerce').fillna(0).astype('Int64')

#Edit the price column
data_scraped['Price'] = data_scraped['Price'].fillna(0).astype(int)

#Edit text in the state of building column
data_scraped['State_of_building'] = data_scraped['State_of_building'].str.replace('_', ' ').str.capitalize()

#Edit text in SUB(?)type of property column
data_scraped['Type_of_property'] = data_scraped['Type_of_property'].str.replace('_', ' ').str.capitalize()

data_scraped[500:520]