In [61]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point

In [62]:
file_path =  r'C:\Users\Rik\Desktop\immo-eliza-team6-analysis\analysis\clean_data.csv'

df = pd.read_csv(file_path, sep = ',')

In [63]:
df.head(30)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5852 non-null   int64
 1   locality_name       5852 non-null   object
 2   Postal_code         5852 non-null   int64
 3   Price               5852 non-null   int64
 4   Subtype             5852 non-null   object
 5   Number_of_bedrooms  5852 non-null   int64
 6   Living_area         5852 non-null   int64
 7   street              5852 non-null   object
 8   number              5831 non-null   object
 9   latitude            5847 non-null   float64
 10  longitude           5847 non-null   float64
 11  Open_fire           5852 non-null   int64
 12  Swimming_Pool       5852 non-null   int64
 13  hasTerrace          5852 non-null   int64
 14  terraceSurface      5852 non-null   int64
 15  gardenSurface       5852 non-null   int64
 16  Kitchen_type        3614 non-null   object
 17  Number_of_facades   5852 non-null   int64
 18  State_of_building   5293 non-null   object
 19  Furnished           5852 non-null   int64
 20  epc                 5580 non-null   object
 21  price_per_sqm       5852 non-null   float64
dtypes: float64(3), int64(12), object(7)
memory usage: 1005.9+ KB

In [64]:
# transform 'int64' to 'Int64' to handle NaN

int_columns = df.select_dtypes(include=['int64'])

for col in int_columns.columns:
    df[col] = df[col].astype('Int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5852 non-null   Int64
 1   locality_name       5852 non-null   object
 2   Postal_code         5852 non-null   Int64
 3   Price               5852 non-null   Int64
 4   Subtype             5852 non-null   object
 5   Number_of_bedrooms  5852 non-null   Int64
 6   Living_area         5852 non-null   Int64
 7   street              5852 non-null   object
 8   number              5831 non-null   object
 9   latitude            5847 non-null   float64
 10  longitude           5847 non-null   float64
 11  Open_fire           5852 non-null   Int64
 12  Swimming_Pool       5852 non-null   Int64
 13  hasTerrace          5852 non-null   Int64
 14  terraceSurface      5852 non-null   Int64
 15  gardenSurface       5852 non-null   Int64
 16  Kitchen_type        3614 non-null   object
 17  Number_of_facades   5852 non-null   Int64
 18  State_of_building   5293 non-null   object
 19  Furnished           5852 non-null   Int64
 20  epc                 5580 non-null   object
 21  price_per_sqm       5852 non-null   float64
dtypes: Int64(12), float64(3), object(7)
memory usage: 1.0+ MB

In [65]:
# transform dtypes 'object' to 'category'
int_columns = df.select_dtypes(include=['object'])

for col in int_columns.columns:
    df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5852 non-null   Int64
 1   locality_name       5852 non-null   category
 2   Postal_code         5852 non-null   Int64
 3   Price               5852 non-null   Int64
 4   Subtype             5852 non-null   category
 5   Number_of_bedrooms  5852 non-null   Int64
 6   Living_area         5852 non-null   Int64
 7   street              5852 non-null   category
 8   number              5831 non-null   category
 9   latitude            5847 non-null   float64
 10  longitude           5847 non-null   float64
 11  Open_fire           5852 non-null   Int64
 12  Swimming_Pool       5852 non-null   Int64
 13  hasTerrace          5852 non-null   Int64
 14  terraceSurface      5852 non-null   Int64
 15  gardenSurface       5852 non-null   Int64
 16  Kitchen_type        3614 non-null   category
 17  Number_of_facades   5852 non-null   Int64
 18  State_of_building   5293 non-null   category
 19  Furnished           5852 non-null   Int64
 20  epc                 5580 non-null   category
 21  price_per_sqm       5852 non-null   float64
dtypes: Int64(12), category(7), float64(3)
memory usage: 1.0 MB

In [66]:
#Getting an idea of the values in columns with dtype 'category'
pd.set_option('display.max_rows', 30)

for col in df.select_dtypes(include=['category']).columns:
    print(f"Counts for {col}:")
    print(df[col].value_counts())
    unique_count = df[col].nunique()
    print("\n")
    print(f"Number of unique entries in {col}: {unique_count}\n")

Counts for locality_name:
locality_name
Gent              181
Antwerpen         109
Aalst              79
Ronse              78
Geraardsbergen     65
                 ...
Wilsele             1
Winksele            1
Wodecq              1
Woesten             1
Wommersom           1
Name: count, Length: 1172, dtype: int64


Number of unique entries in locality_name: 1172

Counts for Subtype:
Subtype
House              5101
Villa               411
Town house           99
Bungalow             79
Mansion              72
Country cottage      52
Farmhouse            23
Chalet               13
Manor house           2
Name: count, dtype: int64


Number of unique entries in Subtype: 9

Counts for street:
street
Stationsstraat         36
Molenstraat            35
Kerkstraat             25
Hoogstraat             18
Veldstraat             17
                       ..
Boterhoek               1
Zwartkloosterstraat     1
Zwevegemsestraat        1
Botermelkstraat         1
Sterrebos               1
Name: count, Length: 4243, dtype: int64


Number of unique entries in street: 4243

Counts for number:
number
3        134
1        119
5        117
2        113
6        112
        ...
Lot 7      1
Lot 8      1
Lot 9      1
Lot2       1
W410       1
Name: count, Length: 639, dtype: int64


Number of unique entries in number: 639

Counts for Kitchen_type:
Kitchen_type
Installed             1935
Hyper equipped         779
Semi equipped          645
Not installed          202
Usa installed           29
Usa hyper equipped      19
Usa uninstalled          4
Usa semi equipped        1
Name: count, dtype: int64


Number of unique entries in Kitchen_type: 8

Counts for State_of_building:
State_of_building
Good              2314
As new            1034
To renovate        984
To be done up      620
Just renovated     306
To restore          35
Name: count, dtype: int64


Number of unique entries in State_of_building: 6

Counts for epc:
epc
F      1134
C      1107
D      1041
B       902
E       632
A       462
G       228
A+       60
A++      14
Name: count, dtype: int64


Number of unique entries in epc: 9

In [67]:
#POSTAL_CODE

#Converting the postal codes to dtype 'str'

df['Postal_code'] = df['Postal_code'].astype(str)

In [68]:
pd.set_option('display.max_rows', None)
df['Postal_code'].value_counts()

Postal_code
9000    143
9600     78
9300     69
9500     67
9700     62
8800     61
9900     49
2800     48
9620     47
8000     46
9050     44
8400     43
9550     43
8870     43
3300     43
9230     42
9800     41
1600     38
9940     38
4000     37
8310     37
9340     36
9420     35
9200     35
1790     34
9255     34
2660     34
6700     33
9400     33
8560     32
2830     32
8200     32
9280     32
8500     32
4100     31
9160     31
9820     31
9100     31
4400     30
9810     29
9660     28
2500     28
9240     27
8501     26
2880     26
8820     26
2940     24
9520     24
2580     24
1840     23
9860     23
6940     23
8020     23
8680     23
9890     23
9040     23
8930     22
8790     22
9220     22
2018     22
8830     21
9630     21
2140     21
9140     21
8600     21
3800     21
2610     20
1500     20
1800     20
4020     20
2060     20
9090     20
9070     20
9990     20
6800     19
9032     19
8470     19
8530     19
2100     19
9570     18
8770     18
9080     18
4040     18
3020     18
5580     17
2930     17
8700     17
9260     17
2820     17
1150     17
1770     17
1570     17
1070     17
6900     17
2300     17
8460     17
1420     17
2850     17
2950     17
8610     16
1650     16
2650     16
1200     16
9041     16
2860     16
9450     15
8420     15
9750     15
1020     15
2900     15
9320     15
9290     15
1760     15
4460     15
6840     15
8730     14
2040     14
2890     14
8434     14
8540     14
2170     14
2970     14
4500     14
8380     14
9060     14
1755     14
2980     14
4540     14
9170     13
9880     13
5570     13
1030     13
1180     13
6780     13
1410     13
1700     13
9310     13
2630     13
3120     13
2220     13
8480     13
2020     12
3010     12
3320     12
3000     12
9840     12
2870     12
2520     12
6220     12
8430     12
9031     12
5500     12
8760     12
1745     12
3360     12
9506     11
1850     11
4032     11
8920     11
2600     11
9470     11
4030     11
2050     11
9120     11
6760     11
2845     11
8510     11
8450     11
4420     11
9850     10
8580     10
2560     10
8650     10
9051     10
1400     10
8670     10
6790     10
1082     10
8340     10
6890     10
9690     10
2960      9
1300      9
1851      9
1350      9
8710      9
2620      9
3140      9
2570      9
8750      9
8370      9
5030      9
4480      9
8490      9
1970      9
2590      9
5540      9
3150      9
9270      8
1120      8
1740      8
1853      8
2840      8
1750      8
4140      8
4101      8
1880      8
8620      8
2070      8
4102      8
2627      8
2390      8
7880      8
1440      8
1731      8
8300      8
1950      8
2230      8
8210      8
1730      8
8900      8
2180      8
3090      8
8550      8
6792      8
6880      8
3520      8
3071      8
1780      8
2221      8
5530      8
4430      7
9052      7
8630      7
8211      7
2235      7
1083      7
9680      7
1040      7
4190      7
2160      7
9190      7
2550      7
4520      7
8520      7
7912      7
1820      7
2640      7
2000      7
4920      7
5377      7
8570      7
8740      7
1502      7
3500      7
2540      7
9185      7
2310      7
3350      7
9920      7
9404      7
3840      7
9790      7
9150      7
7860      6
1370      6
7750      6
1340      6
2381      6
1785      6
9030      6
7890      6
1050      6
1640      6
4570      6
8780      6
5590      6
8940      6
2812      6
1702      6
6990      6
3200      6
9130      6
4300      6
4630      6
4130      6
3600      6
3001      6
1090      6
8950      6
6850      6
1930      6
3110      6
1630      6
6740      5
4680      5
1330      5
2530      5
6791      5
4800      5
4600      5
4120      5
9930      5
6747      5
3550      5
1540      5
4041      5
9960      5
3080      5
5550      5
1390      5
6950      5
5555      5
2360      5
3012      5
4537      5
3460      5
8880      5
2222      5
7500      5
7800      5
8660      5
1160      5
6750      5
8890      5
3210      5
6997      5
8301      5
8720      5
2460      5
8840      5
8792      5
4690      5
3052      5
3370      4
6230      4
2200      4
9473      4
8531      4
6860      4
2370      4
3440      4
4122      4
1435      4
2382      4
1190      4
2380      4
6920      4
2450      4
6600      4
6720      4
9472      4
9180      4
4900      4
4870      4
3390      4
4671      4
9112      4
3220      4
5060      4
5100      4
3890      4
9111      4
3128      4
2861      4
6870      4
8690      4
9870      4
9770      4
1652      4
3680      4
8552      4
8647      4
3970      4
8791      4
1860      4
1000      4
2547      4
8980      4
4683      4
3271      4
1428      4
1560      4
6987      4
4250      4
2340      4
2430      4
4031      4
9910      4
9830      4
1080      4
2280      4
8970      4
7910      4
3190      4
3930      3
2490      3
9991      3
1932      3
2110      3
3830      3
4053      3
1670      3
1357      3
6980      3
6224      3
6280      3
4052      3
2260      3
3740      3
6830      3
3050      3
6767      3
1325      3
6927      3
5630      3
7390      3
3400      3
6717      3
6782      3
4470      3
3720      3
2328      3
8860      3
4180      3
5300      3
2400      3
3920      3
3018      3
7760      3
1933      3
8640      3
3130      3
1470      3
4550      3
7700      3
1060      3
7540      3
6040      3
4280      3
5660      3
5360      3
5002      3
9308      3
1980      3
3570      3
9980      3
3583      3
1367      3
4530      3
2150      3
3560      3
1910      3
5140      3
3380      3
8972      3
2801      3
1861      3
1450      3
8551      3
3270      3
9402      3
3530      3
4121      3
5370      2
6810      2
3540      2
1310      2
4260      2
6921      2
4560      2
4610      2
5542      2
7331      2
7520      2
1651      2
3770      2
3221      2
6043      2
1831      2
4960      2
7740      2
9968      2
2920      2
3450      2
8553      2
4360      2
4970      2
1457      2
6660      2
3472      2
3404      2
5600      2
8902      2
3620      2
1501      2
6640      2
6666      2
9950      2
7812      2
3191      2
3580      2
7130      2
2250      2
4050      2
6060      2
6852      2
7730      2
1430      2
3700      2
8421      2
1320      2
2440      2
8432      2
3111      2
1301      2
3040      2
4350      2
1703      2
1170      2
3980      2
1602      2
8433      2
3290      2
4650      2
4681      2
1601      2
1495      2
6001      2
4340      2
9988      2
4051      2
3118      2
6730      2
4557      2
7911      2
2223      2
6061      2
7340      2
8581      2
1547      2
7100      2
1130      2
8511      2
7863      2
2350      2
1620      2
3211      2
7830      2
1315      2
4590      2
4860      2
1654      2
2811      2
8587      2
9921      2
1460      2
3545      2
4450      2
7190      2
8554      2
4950      2
8572      2
7623      1
9931      1
5501      1
2242      1
3060      1
5380      1
6724      1
8691      1
7781      1
2323      1
7370      1
4432      1
3798      1
9042      1
4451      1
7804      1
3910      1
9552      1
3630      1
3582      1
3640      1
9932      1
6200      1
7620      1
4682      1
4877      1
6042      1
3512      1
3621      1
3391      1
7624      1
1830      1
7334      1
6769      1
6180      1
4141      1
8957      1
7322      1
3850      1
6460      1
6960      1
7320      1
6811      1
6141      1
7642      1
9250      1
8377      1
4351      1
4601      1
3990      1
3971      1
3054      1
4342      1
1140      1
5574      1
1332      1
6706      1
2910      1
6690      1
7742      1
4820      1
6642      1
5680      1
1341      1
7950      1
2243      1
4852      1
9403      1
3078      1
2275      1
4651      1
4452      1
7608      1
9982      1
6824      1
7972      1
2470      1
6670      1
6924      1
3201      1
9961      1
2030      1
4821      1
6250      1
5523      1
7034      1
4983      1
3051      1
3590      1
4760      1
7170      1
5544      1
4623      1
5080      1
7603      1
4577      1
8851      1
4990      1
8850      1
6761      1
7012      1
7060      1
9572      1
6941      1
5330      1
7131      1
2322      1
6986      1
9772      1
3202      1
4210      1
1982      1
4845      1
5031      1
7000      1
6833      1
2387      1
8954      1
5575      1
3960      1
2320      1
4160      1
7080      1
1541      1
4171      1
7350      1
2990      1
7864      1
7110      1
6951      1
4670      1
6929      1
8755      1
4890      1
3900      1
2240      1
1472      1
2531      1
5620      1
9971      1
1653      1
3650      1
9636      1
5101      1
6741      1
5541      1
1741      1
6032      1
5503      1
7321      1
8582      1
4672      1
5543      1
7943      1
7020      1
8810      1
4367      1
3053      1
4181      1
4042      1
5537      1
3294      1
9681      1
8583      1
5070      1
8573      1
7940      1
1490      1
1701      1
4431      1
3945      1
6210      1
7380      1
7160      1
5564      1
2431      1
1480      1
7600      1
9667      1
7332      1
5190      1
4831      1
7534      1
6838      1
4219      1
3401      1
6110      1
7090      1
3510      1
6971      1
7602      1
6030      1
Name: count, dtype: int64

In [69]:
#dropping a dutch postal code
df = df[df['Postal_code'] != '4524 JM']

In [70]:
df['Postal_code'].value_counts()

Postal_code
9000    143
9600     78
9300     69
9500     67
9700     62
8800     61
9900     49
2800     48
9620     47
8000     46
9050     44
8400     43
9550     43
8870     43
3300     43
9230     42
9800     41
1600     38
9940     38
4000     37
8310     37
9340     36
9420     35
9200     35
1790     34
9255     34
2660     34
6700     33
9400     33
8560     32
2830     32
8200     32
9280     32
8500     32
4100     31
9160     31
9820     31
9100     31
4400     30
9810     29
9660     28
2500     28
9240     27
8501     26
2880     26
8820     26
2940     24
9520     24
2580     24
1840     23
9860     23
6940     23
8020     23
8680     23
9890     23
9040     23
8930     22
8790     22
9220     22
2018     22
8830     21
9630     21
2140     21
9140     21
8600     21
3800     21
2610     20
1500     20
1800     20
4020     20
2060     20
9090     20
9070     20
9990     20
6800     19
9032     19
8470     19
8530     19
2100     19
9570     18
8770     18
9080     18
4040     18
3020     18
5580     17
2930     17
8700     17
9260     17
2820     17
1150     17
1770     17
1570     17
1070     17
6900     17
2300     17
8460     17
1420     17
2850     17
2950     17
8610     16
1650     16
2650     16
1200     16
9041     16
2860     16
9450     15
8420     15
9750     15
1020     15
2900     15
9320     15
9290     15
1760     15
4460     15
6840     15
8730     14
2040     14
2890     14
8434     14
8540     14
2170     14
2970     14
4500     14
8380     14
9060     14
1755     14
2980     14
4540     14
9170     13
9880     13
5570     13
1030     13
1180     13
6780     13
1410     13
1700     13
9310     13
2630     13
3120     13
2220     13
8480     13
2020     12
3010     12
3320     12
3000     12
9840     12
2870     12
2520     12
6220     12
8430     12
9031     12
5500     12
8760     12
1745     12
3360     12
9506     11
1850     11
4032     11
8920     11
2600     11
9470     11
4030     11
2050     11
9120     11
6760     11
2845     11
8510     11
8450     11
4420     11
9850     10
8580     10
2560     10
8650     10
9051     10
1400     10
8670     10
6790     10
1082     10
8340     10
6890     10
9690     10
2960      9
1300      9
1851      9
1350      9
8710      9
2620      9
3140      9
2570      9
8750      9
8370      9
5030      9
4480      9
8490      9
1970      9
2590      9
5540      9
3150      9
9270      8
1120      8
1740      8
1853      8
2840      8
1750      8
4140      8
4101      8
1880      8
8620      8
2070      8
4102      8
2627      8
2390      8
7880      8
1440      8
1731      8
8300      8
1950      8
2230      8
8210      8
1730      8
8900      8
2180      8
3090      8
8550      8
6792      8
6880      8
3520      8
3071      8
1780      8
2221      8
5530      8
4430      7
9052      7
8630      7
8211      7
2235      7
1083      7
9680      7
1040      7
4190      7
2160      7
9190      7
2550      7
4520      7
8520      7
7912      7
1820      7
2640      7
2000      7
4920      7
5377      7
8570      7
8740      7
1502      7
3500      7
2540      7
9185      7
2310      7
3350      7
9920      7
9404      7
3840      7
9790      7
9150      7
7860      6
1370      6
7750      6
1340      6
2381      6
1785      6
9030      6
7890      6
1050      6
1640      6
4570      6
8780      6
5590      6
8940      6
2812      6
1702      6
6990      6
3200      6
9130      6
4300      6
4630      6
4130      6
3600      6
3001      6
1090      6
8950      6
6850      6
1930      6
3110      6
1630      6
6740      5
4680      5
1330      5
2530      5
6791      5
4800      5
4600      5
4120      5
9930      5
6747      5
3550      5
1540      5
4041      5
9960      5
3080      5
5550      5
1390      5
6950      5
5555      5
2360      5
3012      5
4537      5
3460      5
8880      5
2222      5
7500      5
7800      5
8660      5
1160      5
6750      5
8890      5
3210      5
6997      5
8301      5
8720      5
2460      5
8840      5
8792      5
4690      5
3052      5
3370      4
6230      4
2200      4
9473      4
8531      4
6860      4
2370      4
3440      4
4122      4
1435      4
2382      4
1190      4
2380      4
6920      4
2450      4
6600      4
6720      4
9472      4
9180      4
4900      4
4870      4
3390      4
4671      4
9112      4
3220      4
5060      4
5100      4
3890      4
9111      4
3128      4
2861      4
6870      4
8690      4
9870      4
9770      4
1652      4
3680      4
8552      4
8647      4
3970      4
8791      4
1860      4
1000      4
2547      4
8980      4
4683      4
3271      4
1428      4
1560      4
6987      4
4250      4
2340      4
2430      4
4031      4
9910      4
9830      4
1080      4
2280      4
8970      4
7910      4
3190      4
3930      3
2490      3
9991      3
1932      3
2110      3
3830      3
4053      3
1670      3
1357      3
6980      3
6224      3
6280      3
4052      3
2260      3
3740      3
6830      3
3050      3
6767      3
1325      3
6927      3
5630      3
7390      3
3400      3
6717      3
6782      3
4470      3
3720      3
2328      3
8860      3
4180      3
5300      3
2400      3
3920      3
3018      3
7760      3
1933      3
8640      3
3130      3
1470      3
4550      3
7700      3
1060      3
7540      3
6040      3
4280      3
5660      3
5360      3
5002      3
9308      3
1980      3
3570      3
9980      3
3583      3
1367      3
4530      3
2150      3
3560      3
1910      3
5140      3
3380      3
8972      3
2801      3
1861      3
1450      3
8551      3
3270      3
9402      3
3530      3
4121      3
5370      2
6810      2
3540      2
1310      2
4260      2
6921      2
4560      2
4610      2
5542      2
7331      2
7520      2
1651      2
3770      2
3221      2
6043      2
1831      2
4960      2
7740      2
9968      2
2920      2
3450      2
8553      2
4360      2
4970      2
1457      2
6660      2
3472      2
3404      2
5600      2
8902      2
3620      2
1501      2
6640      2
6666      2
9950      2
7812      2
3191      2
3580      2
7130      2
2250      2
4050      2
6060      2
6852      2
7730      2
1430      2
3700      2
8421      2
1320      2
2440      2
8432      2
3111      2
1301      2
3040      2
4350      2
1703      2
1170      2
3980      2
1602      2
8433      2
3290      2
4650      2
4681      2
1601      2
1495      2
6001      2
4340      2
9988      2
4051      2
3118      2
6730      2
4557      2
7911      2
2223      2
6061      2
7340      2
8581      2
1547      2
7100      2
1130      2
8511      2
7863      2
2350      2
1620      2
3211      2
7830      2
1315      2
4590      2
4860      2
1654      2
2811      2
8587      2
9921      2
1460      2
3545      2
4450      2
7190      2
8554      2
4950      2
8572      2
7623      1
9931      1
5501      1
2242      1
3060      1
5380      1
6724      1
8691      1
7781      1
2323      1
7370      1
4432      1
3798      1
9042      1
4451      1
7804      1
3910      1
9552      1
3630      1
3582      1
3640      1
9932      1
6200      1
7620      1
4682      1
4877      1
6042      1
3512      1
3621      1
3391      1
7624      1
1830      1
7334      1
6769      1
6180      1
4141      1
8957      1
7322      1
3850      1
6460      1
6960      1
7320      1
6811      1
6141      1
7642      1
9250      1
8377      1
4351      1
4601      1
3990      1
3971      1
3054      1
4342      1
1140      1
5574      1
1332      1
6706      1
2910      1
6690      1
7742      1
4820      1
6642      1
5680      1
1341      1
7950      1
2243      1
4852      1
9403      1
3078      1
2275      1
4651      1
4452      1
7608      1
9982      1
6824      1
7972      1
2470      1
6670      1
6924      1
3201      1
9961      1
2030      1
4821      1
6250      1
5523      1
7034      1
4983      1
3051      1
3590      1
4760      1
7170      1
5544      1
4623      1
5080      1
7603      1
4577      1
8851      1
4990      1
8850      1
6761      1
7012      1
7060      1
9572      1
6941      1
5330      1
7131      1
2322      1
6986      1
9772      1
3202      1
4210      1
1982      1
4845      1
5031      1
7000      1
6833      1
2387      1
8954      1
5575      1
3960      1
2320      1
4160      1
7080      1
1541      1
4171      1
7350      1
2990      1
7864      1
7110      1
6951      1
4670      1
6929      1
8755      1
4890      1
3900      1
2240      1
1472      1
2531      1
5620      1
9971      1
1653      1
3650      1
9636      1
5101      1
6741      1
5541      1
1741      1
6032      1
5503      1
7321      1
8582      1
4672      1
5543      1
7943      1
7020      1
8810      1
4367      1
3053      1
4181      1
4042      1
5537      1
3294      1
9681      1
8583      1
5070      1
8573      1
7940      1
1490      1
1701      1
4431      1
3945      1
6210      1
7380      1
7160      1
5564      1
2431      1
1480      1
7600      1
9667      1
7332      1
5190      1
4831      1
7534      1
6838      1
4219      1
3401      1
6110      1
7090      1
3510      1
6971      1
7602      1
6030      1
Name: count, dtype: int64

In [71]:
#Aggregate Postal code by price
Postal_aggregates = df.groupby('Postal_code').agg({'Price': ['mean', 'median']}).reset_index()

In [72]:
#creating the column province

def get_province(postal_code):
    if postal_code.startswith('1'):
        return 'Brussels' if int(postal_code) < 1300 else 'Brabant_Wallon'
    elif postal_code.startswith('2'):
        return 'Antwerp'
    elif postal_code.startswith('4'):
        return 'Liège'
    elif postal_code.startswith('5'):
        return 'Namur'
    elif postal_code.startswith('6'):
        return 'Luxembourg'
    elif postal_code.startswith('7'):
        return 'Hainaut'
    elif postal_code.startswith('8'):
        return 'West Flanders'
    elif postal_code.startswith('9'):
        return 'East Flanders'
    elif postal_code.startswith('3'):
        return 'Flemish Brabant' if int(postal_code) < 3500 else 'Limburg'
    else:
        return None 

df['Province'] = df['Postal_code'].apply(get_province)

df['Province'] = df['Province'].astype(str)
df['Postal_code'] = df['Postal_code'].astype(str)

In [73]:
#creating the main cities:
cities_data = {'City': ['Brussels', 'Antwerp', 'Ghent', 'Bruges', 'Liège','Namur', 'Leuven', 'Mons', 'Aalst', 'Sint-Niklaas'],
               'Latitude': [50.8503, 51.2211, 51.0543, 51.2093, 50.6050, 50.4674, 50.8798, 50.4542, 50.9403, 51.1449],
               'Longitude': [4.3517, 4.4120, 3.7174, 3.2240, 5.5797, 4.8712, 4.7033, 3.9514, 4.0364, 4.1525],
               'Radius': [5 for x in range(10)]}

cities_df = pd.DataFrame(cities_data)

cities_df.head(10)

           City  Latitude  Longitude  Radius
0      Brussels   50.8503     4.3517       5
1       Antwerp   51.2211     4.4120       5
2         Ghent   51.0543     3.7174       5
3        Bruges   51.2093     3.2240       5
4         Liège   50.6050     5.5797       5
5         Namur   50.4674     4.8712       5
6        Leuven   50.8798     4.7033       5
7          Mons   50.4542     3.9514       5
8         Aalst   50.9403     4.0364       5
9  Sint-Niklaas   51.1449     4.1525       5

In [74]:
#Make a geodataframe
cities_gdf = gpd.GeoDataFrame(cities_df,geometry=gpd.points_from_xy(cities_df.Longitude, cities_df.Latitude))

In [78]:
#Creating the buffer/radius zone

cities_gdf['geometry'] = cities_gdf.geometry.buffer(cities_gdf['Radius'] / 111)

In [79]:
print(cities_gdf)

           City  Latitude  Longitude  Radius  \
0      Brussels   50.8503     4.3517       5
1       Antwerp   51.2211     4.4120       5
2         Ghent   51.0543     3.7174       5
3        Bruges   51.2093     3.2240       5
4         Liège   50.6050     5.5797       5
5         Namur   50.4674     4.8712       5
6        Leuven   50.8798     4.7033       5
7          Mons   50.4542     3.9514       5
8         Aalst   50.9403     4.0364       5
9  Sint-Niklaas   51.1449     4.1525       5

                                            geometry
0  POLYGON ((4.39675 50.8503, 4.39653 50.84588, 4...
1  POLYGON ((4.45705 51.2211, 4.45683 51.21668, 4...
2  POLYGON ((3.76245 51.0543, 3.76223 51.04988, 3...
3  POLYGON ((3.26905 51.2093, 3.26883 51.20488, 3...
4  POLYGON ((5.62475 50.605, 5.62453 50.60058, 5....
5  POLYGON ((4.91625 50.4674, 4.91603 50.46298, 4...
6  POLYGON ((4.74835 50.8798, 4.74813 50.87538, 4...
7  POLYGON ((3.99645 50.4542, 3.99623 50.44978, 3...
8  POLYGON ((4.08145 50.9403, 4.08123 50.93588, 4...
9  POLYGON ((4.19755 51.1449, 4.19733 51.14048, 4...

In [80]:
cities_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       10 non-null     object
 1   Latitude   10 non-null     float64
 2   Longitude  10 non-null     float64
 3   Radius     10 non-null     int64
 4   geometry   10 non-null     geometry
dtypes: float64(2), geometry(1), int64(1), object(1)
memory usage: 532.0+ bytes

In [85]:
#checking and slicing original data and creating a new datframe house_geo
house_geo= pd.DataFrame(df[['id', 'latitude', 'longitude']])

house_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5852 non-null   Int64
 1   latitude   5847 non-null   float64
 2   longitude  5847 non-null   float64
dtypes: Int64(1), float64(2)
memory usage: 143.0 KB

In [75]:
#SUBTYPE

#Here we will use One-Hot Encoding (pd.get_dummies) because this is a nominal (unordered) column and the number of categories is small.
df_one_hot_subtype = pd.get_dummies(df, columns=['Subtype'], prefix='Subtype', drop_first=True)

In [76]:
df_one_hot_subtype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5852 non-null   Int64
 1   locality_name            5852 non-null   category
 2   Postal_code              5852 non-null   object
 3   Price                    5852 non-null   Int64
 4   Number_of_bedrooms       5852 non-null   Int64
 5   Living_area              5852 non-null   Int64
 6   street                   5852 non-null   category
 7   number                   5831 non-null   category
 8   latitude                 5847 non-null   float64
 9   longitude                5847 non-null   float64
 10  Open_fire                5852 non-null   Int64
 11  Swimming_Pool            5852 non-null   Int64
 12  hasTerrace               5852 non-null   Int64
 13  terraceSurface           5852 non-null   Int64
 14  gardenSurface            5852 non-null   Int64
 15  Kitchen_type             3614 non-null   category
 16  Number_of_facades        5852 non-null   Int64
 17  State_of_building        5293 non-null   category
 18  Furnished                5852 non-null   Int64
 19  epc                      5580 non-null   category
 20  price_per_sqm            5852 non-null   float64
 21  Province                 5852 non-null   object
 22  Subtype_Chalet           5852 non-null   bool
 23  Subtype_Country cottage  5852 non-null   bool
 24  Subtype_Farmhouse        5852 non-null   bool
 25  Subtype_House            5852 non-null   bool
 26  Subtype_Manor house      5852 non-null   bool
 27  Subtype_Mansion          5852 non-null   bool
 28  Subtype_Town house       5852 non-null   bool
 29  Subtype_Villa            5852 non-null   bool
dtypes: Int64(11), bool(8), category(6), float64(3), object(2)
memory usage: 1.1+ MB

In [77]:
#KITCHEN_TYPE