In [10]:
import pandas as pd

In [11]:
file_path =  r'C:\Users\Rik\Desktop\immo-eliza-team6-analysis\data\clean\clean_data.csv'

df = pd.read_csv(file_path, sep = ',')

In [14]:
df.head(30)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6602 entries, 0 to 6601
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  6602 non-null   int64
 1   locality_name       6602 non-null   object
 2   Postal_code         6602 non-null   object
 3   Price               6602 non-null   int64
 4   Subtype             6602 non-null   object
 5   Number_of_bedrooms  6602 non-null   int64
 6   Living_area         6602 non-null   int64
 7   street              6602 non-null   object
 8   number              6577 non-null   object
 9   latitude            6594 non-null   float64
 10  longitude           6594 non-null   float64
 11  Open_fire           6602 non-null   int64
 12  Swimming_Pool       6602 non-null   int64
 13  hasTerrace          4528 non-null   object
 14  terraceSurface      6602 non-null   int64
 15  gardenSurface       6602 non-null   int64
 16  Kitchen_type        4045 non-null   object
 17  Number_of_facades   6602 non-null   int64
 18  State_of_building   5984 non-null   object
 19  Furnished           6602 non-null   int64
 20  epc                 6289 non-null   object
dtypes: float64(2), int64(10), object(9)
memory usage: 1.1+ MB

In [16]:
# transform 'int64' to 'Int64' to handle NaN

int_columns = df.select_dtypes(include=['int64'])

for col in int_columns.columns:
    df[col] = df[col].astype('Int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6602 entries, 0 to 6601
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  6602 non-null   Int64
 1   locality_name       6602 non-null   object
 2   Postal_code         6602 non-null   object
 3   Price               6602 non-null   Int64
 4   Subtype             6602 non-null   object
 5   Number_of_bedrooms  6602 non-null   Int64
 6   Living_area         6602 non-null   Int64
 7   street              6602 non-null   object
 8   number              6577 non-null   object
 9   latitude            6594 non-null   float64
 10  longitude           6594 non-null   float64
 11  Open_fire           6602 non-null   Int64
 12  Swimming_Pool       6602 non-null   Int64
 13  hasTerrace          4528 non-null   object
 14  terraceSurface      6602 non-null   Int64
 15  gardenSurface       6602 non-null   Int64
 16  Kitchen_type        4045 non-null   object
 17  Number_of_facades   6602 non-null   Int64
 18  State_of_building   5984 non-null   object
 19  Furnished           6602 non-null   Int64
 20  epc                 6289 non-null   object
dtypes: Int64(10), float64(2), object(9)
memory usage: 1.1+ MB

In [ ]:

int_columns = df.select_dtypes(include=['int64'])

for col in int_columns.columns:
    df[col] = df[col].astype('Int64')

df.info()